._6l6l{margin-top:2px}
.sp_z3V6iw-COlK{background-image:url(/rsrc.php/v3/yi/r/-o2TIr2qlD1.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}.sp_z3V6iw-COlK.sx_bbb635{background-position:0 0}.sp_z3V6iw-COlK.sx_ddbddf{background-position:0 -13px}

#bootloader_roMCy{height:42px;}.bootloader_roMCy{display:block!important;}